<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mealplan">
	<select id="searchFood" resultType="food">
		SELECT 
			food_no,
			food_name,
			rep_food_name,
			food_code,
			user_no,
			food_code_name,
			energy,
			carb,
			protein,
			fat,
			sodium
		FROM FOOD
		JOIN FOOD_CODE USING (food_code)
		JOIN NUTRIENT USING (nutrient_no)
		<where>
			<trim prefixOverrides="OR">
				<if test="query != null and query != ''">
					food_name LIKE '%' || #{query} || '%'
					OR
					rep_food_name LIKE '%' || #{query} || '%'
				</if>
				<if test="foodCode != 0">
					food_code = #{foodCode}
				</if>
			</trim>
		</where>
	</select>
</mapper>