<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<resultMap id="chatRoomResultMap" type="com.kh.ypjp.chat.model.dto.ChatDto$ChatRoomDto">
        <result property="userNo" column="user_no"/>
        <result property="className" column="class_name"/>
        <result property="type" column="type"/>
    </resultMap>

	<select id="findCookingClasses" resultMap="chatRoomResultMap">
		SELECT cc.class_no,
               cc.class_name,
               'chat' AS type
        FROM cooking_class cc
        JOIN class_enroll ce ON ce.class_no = cc.class_no
        WHERE ce.user_no = #{userNo}
	</select>
	
	<select id="findFaqChat" resultType="int">
		SELECT count(*) FROM CHATBOT
		WHERE user_no = #{userNo}
	</select>
	
	<select id="findAdminChat" resultType="int">
		SELECT cs_no FROM CUSTOMER_SERVICE
		WHERE user_no = #{userNo}
	</select>
	
	<select id="getMessagesByRoom" resultType="com.kh.ypjp.chat.model.dto.ChatDto$ChatMsgDto">
		SELECT
			M.message_no,
			M.msg_type,
			M.ref_no,
			M.time,
			M.hidden,
			M.image_no,
			C.message_no as lastMsgNo,
			U.username
		FROM CLASS_ENROLL C
		JOIN MESSAGE M on C.class_no = M.ref_no
		JOIN USERS U using (user_no)
		WHERE C.class_no = #{classNo}
		ORDER BY time
	</select>
	
	<resultMap id="faqResultMap" type="com.kh.ypjp.chat.model.dto.ChatDto$FaqMsgResDto">
	    <constructor>
	        <arg column="username" javaType="string"/>
	        <arg column="content" javaType="string"/>
	        <!--arg column="url" javaType="string"/-->
	        <arg column="created_at" javaType="java.util.Date"/>
	    </constructor>
	</resultMap>
	
	<select id="getFaqByUser" resultMap="faqResultMap">
	    SELECT username, content, created_at<!--, url-->
	    FROM CHATBOT
	    JOIN USERS using (user_no)
	    WHERE user_no = #{userNo}
	</select>
	
	<delete id="deleteFaqChat">
		DELETE FROM CHATBOT
		WHERE user_no = #{userNo}
	</delete>
	
	<delete id="deleteAdminChatMessage">
		DELETE FROM MESSAGE
		WHERE msg_type = 'CSERVICE'
			AND user_no = #{userNo}
	</delete>
	
	<delete id="deleteAdminChatSession">
		DELETE FROM CUSTOMER_SERVICE
		WHERE user_no = #{userNo}
	</delete>
	
	<insert id="insertChatBot">
		INSERT INTO CHATBOT (chatbot_no, user_no, role, content) 
		VALUES (SEQ_CHATBOT_NO.NEXTVAL, #{userNo}, #{role}, #{content})
	</insert>
</mapper>