<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
		
	<update id="updateUserImage" parameterType="map">
		UPDATE USERS
		SET IMAGE_NO = #{imageNo}
		WHERE USER_NO = #{userNo}
	</update>

	<select id="getMypageInfo" parameterType="long" resultType="map">
		SELECT U.USER_NO,
		U.USERNAME,
		U.EMAIL,
		I.SERVER_NAME AS profile
		FROM USERS U
		LEFT JOIN IMAGE I ON U.IMAGE_NO = I.IMAGE_NO
		WHERE U.USER_NO = #{userNo}
	</select>

</mapper>